
@font-face {
  font-family: 'bold';
  src: url('https://cdn.jsdelivr.net/gh/alihomsi/Testing@main/fonts/bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html{
    background-color: #F9F2ED !important;
}

span[name*="PageTitle"]{
    font-size: 1.6rem !important;
    font-family: bold !important;
}


input[name*="customtextbox"]{
    background-color: #F3E3DE !important;
    padding: 1.5rem 1.5rem !important;
    border-radius: 1rem !important;
    border-color: #EAD1C3 !important;
    margin-bottom: 1rem !important;
}



/*comment*/